{% extends "base.html" %}

{% block content %}
<div class="posts">
    <h2>关于本人</h2>
    </br>
    <p>刚刚开始转行自学编程，方向是后台开发。最近学了Python，先撸个博客出来，主要把学习心得留下来，方便以后查看。</p>
    <p>个人平时喜欢看电影，喜欢历史，比较向往春秋战国时期，最近对宋史突然有了兴趣，带把手头的书看完以后，去了解了解。对于这些，我要是有了不错的想法，都会贴出来和大家交流</p>
    <p>本来还喜欢健身来着，冬天实在太懒，每天就做回俯卧撑了事。春节后还是得找回举铁的习惯。</p>
    <p>~~bee~bee~~结束</p>
    </br>
    <h2>关于本站<h2>
    <p>之所以建设本站主要是拿来练手，因此没有选择静态博客，本站的技术栈为 Nginx ＋ Bottle ＋ PostgresSQL。Bottle个头虽然不大但是速度飞快，非常对我胃口。</p>
    <p>本站源码开放在<a href="/">Github</a>。欢迎fork改进。</p>
    <p>~~bee~bee~~彻底结束</p>
</div><!-- /.blog-post -->
{% endblock %}
