{% extends "base.html" %}

{% block content %}
<div class="posts">
    <h2>关于本人</h2>
    </br>
        <p>刚刚开始转行自学编程，方向是后台开发。最近学了Python，先撸个博客出来，主要把学习心得留下来，方便以后查看。</p>
        <p>个人爱好：电影，历史，旅行, 健身</p>
    </br>
    <h2>关于本站</h2>
    </br>
        <p>之所以没有选择静态博客，主要是想练手。既是学习python之后的阶段性总结，又可以作为将来试验新想法的练兵场。</p>
        <p>本站的技术栈为 Nginx + Tornado ＋ Bottle ＋ PostgresSQL。Bottle个头虽然不大但是速度飞快，非常对我胃口。</p>
        <p>本站源码开放在<a href="https://github.com/rim99/bottle-blog">Github</a>。欢迎fork改进。</p>
        <p>~~bee~bee~~结束</p>
</div><!-- /.blog-post -->
{% endblock %}
