{% extends "base.html" %}
{% block content %}
<div class="posts">
    {% if page_info.is_tag_list %}
      <div class="tag-brief"> 
          <p class="title" style="font-family: Verdana, Geneva, sans-serif;">TAG: {{ page_info.tag }}</p>
          {% if page_info.tag_brief %}
              <p class="brief" style="font-family: Verdana, Geneva, sans-serif;">{{ page_info.tag_brief }}</p>
          {% endif %}
      </div>
    {% endif %}
    {% for post in post_list %}
        <section class="post" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
            <a href="{{ post.url }}">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>
            </header>
            <div class="post-brief">
            </div>
            </a>
            <p class="post-meta" style="font-family: Verdana, Geneva, sans-serif;">Posted on {{ post.post_time.strftime("%B %d, %Y") }} <!--    -->
                <a class="post-category" href="http://www.rim99.com/tag={{ post.tag1 }}/">{{ post.tag1 }}</a>
                {% if post.tag2 != None %}
                <a class="post-category" href="http://www.rim99.com/tag={{ post.tag2 }}/">{{ post.tag2 }}</a>
                {% endif %}
                {% if post.tag3 != None %}
                <a class="post-category" href="http://www.rim99.com/tag={{ post.tag3 }}/">{{ post.tag3 }}</a>
                {% endif %}
            </p>
        </section>
    {% endfor %}
    
    {% if page_info.has_previous or page_info.has_next %}
      <div>
      <ul class="pager">
      {% if page_info.has_previous %}
        <a href="page={{ page_info.page -1 }}"><li class="prev" style="text-decoration: none;">← Previous Posts</li></a>
      {% endif %}

      {% if page_info.has_next %}
        <a href="page={{ page_info.page +1 }}"><li class="next" style="text-decoration: none;">Older Posts →</li></a>
        <!--
        <li class="next" style="text-decoration: none;"><a href="page={{ page_info.page +1 }}">Older Posts →</a></li>
        -->
      {% endif %}
      </ul>
      </div>
    {% endif %}
    
    
</div>
{% endblock %}
