<!--post.html-->
{% extends "base.html" %}

{% block content %}
<div class="blogpost">
        <section class="post">
            <header class="post-header">
                <h1 class="post-title">{{ post.title }}</h1>

                    <p class="post-meta" style="padding-top: 1.2em;padding-bottom: 0.9em;border-bottom: 2px solid #aaa;">
                    Posted on {{ post.post_date.strftime("%B %d, %Y") }}</a> <a class="post-category post-category-js" style="color:#fff;" href="http://localhost:8080/tag/{{ post.category }}">{{ post.category }}</a>
                    </p>
            </header>

                <div class="post-content">
                    <p>
                        {{ post.content }}
                    </p>
                </div>
        </section>
</div><!-- /.blog-post -->
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ post.blog_id }}" data-title="{{ post.title }}" data-url="{{ post.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"rim99"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
{% endblock %}
